.table-list-container {
  overflow: auto;
  max-height: 80vh;
  background-color: #e2e3e5;
}

.table-list-item {
  height: 56px;
}

.table-name {
  min-width: 50%;
}

.table-status {
  flex-grow:1;
  min-width:0;
}